<div>
    <h2 id="page-heading">
        <span>Interaction Plante Plantes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-interaction-plante-plante" [routerLink]="['/interaction-plante-plante/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Interaction Plante Plante
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="interactionPlantePlantes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Notation</span></th>
            <th><span>Description</span></th>
            <th><span>De Plante</span></th>
            <th><span>Vers Plante</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let interactionPlantePlante of interactionPlantePlantes ;trackBy: trackId">
                <td><a [routerLink]="['/interaction-plante-plante', interactionPlantePlante.id, 'view' ]">{{interactionPlantePlante.id}}</a></td>
                <td>{{interactionPlantePlante.notation}}</td>
                <td>{{interactionPlantePlante.description}}</td>
                <td>
                    <div *ngIf="interactionPlantePlante.dePlante">
                        <a [routerLink]="['../plante', interactionPlantePlante.dePlante?.id, 'view' ]" >{{interactionPlantePlante.dePlante?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="interactionPlantePlante.versPlante">
                        <a [routerLink]="['../plante', interactionPlantePlante.versPlante?.id, 'view' ]" >{{interactionPlantePlante.versPlante?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/interaction-plante-plante', interactionPlantePlante.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/interaction-plante-plante', interactionPlantePlante.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'interaction-plante-plante/'+ interactionPlantePlante.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
