<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="interactionPlantePlante">
            <h2><span>Interaction Plante Plante</span> {{interactionPlantePlante.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Notation</span></dt>
                <dd>
                    <span>{{interactionPlantePlante.notation}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{interactionPlantePlante.description}}</span>
                </dd>
                <dt><span>De Plante</span></dt>
                <dd>
                    <div *ngIf="interactionPlantePlante.dePlante">
                        <a [routerLink]="['/plante', interactionPlantePlante.dePlante?.id, 'view']">{{interactionPlantePlante.dePlante?.id}}</a>
                    </div>
                </dd>
                <dt><span>Vers Plante</span></dt>
                <dd>
                    <div *ngIf="interactionPlantePlante.versPlante">
                        <a [routerLink]="['/plante', interactionPlantePlante.versPlante?.id, 'view']">{{interactionPlantePlante.versPlante?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/interaction-plante-plante', interactionPlantePlante.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
